ul, li {
  list-style: none;
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(30, 182, 88);
}

.container {
  width: 600px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  color: #000;
  font-size: 25px;
  margin: 0 12px;
}

#stage {
  max-width: 500px;
  max-height: 500px;
  border: 25px solid rgb(19, 48, 180);
  background-color: #000;
}

.controllers {
  margin-top: 20px;
  width: 180px;
  min-height: 180px;
  padding: 0;
  position: relative;

  display: none !important;
}

.buttons {
  width: 60px;
  height: 60px;
  background-color: rgb(19, 48, 180);
  position: absolute;

  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  line-height: 60px;
}

#left {
  top: 60px;
  left: 0px;  
}

#up {
  top: 0;
  right: 60px;
  
}
#right {
  top: 60px;
  right: 0;
}
#down {
  bottom: 0;
  left: 60px;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    justify-content: flex-start;
    height: 70vh;
  }

  .controllers {
    display: block !important;
  }
}